@use '../base' as *;

/* -------------------------------- 

File#: _1_feature-v20
Title: Feature v20
Descr: A list of features with icons
Usage: codyhouse.co/license

-------------------------------- */