---
//import
import { Icon } from "astro-icon/components";
---

<section class="overflow-x-hidden flex relative space-x-16 border-y-2 border-dark">
	<div class="py-11 space-x-16 flex items-center animate-marquee whitespace-nowrap">
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
	</div>
	<div class="absolute top-0 py-11 flex items-center space-x-16 animate-marquee2 whitespace-nowrap" aria-hidden="true">
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Development</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Brand Identity</span>
		<Icon name="star" class="mx-4 inline-block" />
		<span class="mx-4 text-2xl sm:text-2xl text-secondary font-heading">Web Design</span>
	</div>
</section>
