---
//import
import Button from "@/components/ui/Button.astro";
import { Image } from "astro:assets";

//props
---

<section class="relative z-[1] bg-primary py-24 border-b-2 border-dark">
	<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-5xl">
		<h1 class="text-5xl mb-6 font-heading text-center text-light">
			Creating Beautiful, Eye Catching Websites and Digital Assets
		</h1>

		<p class="leading-normal mb-6 font-body text-center text-light">
			Websites, logos, brand templates and more. We create custom websites for your business or brand using the latest
			technologies on the JAMstack so that we can set up the next budding entrepreneur at a price that fits their
			budget.
		</p>

		<div class="flex flex-wrap items-center gap-4 justify-center">
			<Button label="Learn More" href="/about" variant="secondary" />
		</div>
	</div>
</section>
