---
import BaseButton from "../components/UI/BaseButton.astro"
---

<section class="py-32" id="about">
	<div class="container px-4 mx-auto">
		<div class="max-w-xl lg:max-w-4xl mx-auto text-center">
			<h2
				class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-headings ccBlack">
				Website that work as hard as you do.
			</h2>
			<p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">
				Hi! My name is Camille. I'm a web developer / designer who helps small business look sharp online with custom
				websites that are fast, modern, and cost next to nothing to run.
			</p>
			<div>
				<BaseButton href="#contact" variant="ghost"> Let's Build Your Site </BaseButton>
			</div>
		</div>
	</div>
</section>
