---
import BaseButton from "../components/UI/BaseButton.astro"
---

<section class="py-32" id="about">
	<div class="container px-4 mx-auto">
		<div class="max-w-xl lg:max-w-4xl mx-auto text-center">
			<h2
				class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-headings">
				Build a website once, own it forever.
			</h2>
			<p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">
				I help small business owners like you get online with custom websites that are simple, powerful, and free to
				maintain. You get to focus on your business, while I handle the tech.
			</p>
			<div>
				<BaseButton href="#contact" variant="ghost"> Learn More</BaseButton>
			</div>
		</div>
	</div>
</section>
