---
import Form from "./UI/Form.astro"
---

<section class="py-36" id="contact">
	<div class="container px-4 mx-auto mb-16">
		<div class="flex flex-wrap -m-4">
			<div class="w-full md:w-1/3 px-4 text-center p-4">
				<svg
					width="158"
					height="144"
					viewBox="0 0 158 144"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="mb-6 mx-auto text-indigo-500 w-14 h-14">
					<g clip-path="url(#clip0_8_2898)">
						<path
							d="M138.714 53.6426C138.995 53.7946 139.292 53.9122 139.601 53.9925C148.733 54.3555 153.111 60.3839 155.55 68.0644C157.71 74.8667 157.662 81.9866 156.893 89.0836C156.398 93.6498 156.134 98.2408 155.68 102.812C155.328 106.735 154.089 110.526 152.055 113.898C150.093 117.114 147.366 119.412 143.57 119.944C138.134 120.706 132.667 121.245 127.211 121.855C126.219 121.966 125.215 121.964 123.798 122.034C124.4 124.798 124.943 127.361 125.519 129.918C125.986 131.995 126.542 134.053 126.958 136.14C127.185 137.118 127.245 138.126 127.134 139.124C127.035 140.143 126.586 141.096 125.864 141.822C125.142 142.547 124.191 143 123.173 143.105C122.153 143.225 121.124 142.97 120.279 142.386C119.433 141.803 118.829 140.932 118.579 139.937C117.973 137.321 117.511 134.675 117.195 132.009C116.712 128.936 116.269 125.856 115.827 122.901H41.5828C40.9435 126.648 40.3423 130.376 39.6577 134.09C39.3563 135.969 38.9214 137.824 38.3563 139.641C37.3586 142.599 35.2275 144.02 32.887 143.556C30.4907 143.081 28.9213 140.609 29.5311 137.452C30.2937 133.501 31.4588 129.628 32.442 125.718C32.6829 124.758 32.8928 123.791 33.223 122.371C29.7319 121.981 26.4384 121.71 23.181 121.221C20.076 120.799 16.9969 120.203 13.9581 119.438C8.19746 117.903 4.57257 114.142 3.8506 108.165C2.93697 100.603 2.32131 93.0039 1.64988 85.4134C1.34402 81.9551 1.02708 78.4792 1.05924 75.0144C1.00117 71.9978 1.31148 68.9852 1.98334 66.0435C4.31268 57.1704 11.9406 51.8799 21.1057 52.4148C21.9721 52.4653 22.8371 52.546 23.8019 52.6228C22.7596 41.6725 23.3201 30.942 24.2285 20.2155C24.9649 11.517 29.0573 6.44745 37.404 3.95205C43.9247 2.00207 50.6711 1.5065 57.3887 1.45793C77.1501 1.32076 96.9124 1.44159 116.675 1.52363C119.034 1.48689 121.389 1.71127 123.698 2.19295C130.848 3.84889 135.315 8.39475 136.672 15.5961C137.657 20.5428 138.301 25.5509 138.602 30.5855C138.934 37.3031 138.703 44.0489 138.714 50.783C138.716 51.7734 138.714 52.7644 138.714 53.6426ZM123.201 66.7655C123.828 65.4661 124.525 64.2015 125.287 62.9771C126.542 61.1341 128.595 59.5827 129.154 57.5841C129.75 55.4569 128.887 52.9555 128.859 50.615C128.775 43.436 128.944 36.251 128.699 29.0792C128.465 24.8277 128 20.5919 127.305 16.3909C126.78 12.7614 124.451 10.6342 120.921 9.92205C119.274 9.59369 117.597 9.43577 115.917 9.4508C107.052 9.51972 98.187 9.61489 89.3238 9.80063C77.8819 10.0415 66.4337 10.2088 55.0043 10.7516C50.11 10.9839 45.2248 11.9272 40.3935 12.8355C36.3203 13.6002 34.2016 16.253 33.519 20.4529C31.6261 32.1069 30.8562 43.8442 30.4755 55.6189C30.477 56.4871 30.7614 57.3312 31.2855 58.0231C34.3571 61.7697 36.4299 66.2331 37.3107 70.9969C37.3593 71.2509 37.4873 71.4826 37.6762 71.6585C42.0271 70.8204 46.0486 69.6284 50.1343 69.3338C64.3427 68.3099 78.5658 67.3825 92.7965 66.8397C102.752 66.4591 112.73 66.7655 123.201 66.7655ZM84.9868 113.26V112.989C98.0092 112.989 111.033 113.104 124.053 112.933C129.2 112.867 134.342 112.211 139.477 111.738C140.837 111.654 142.136 111.151 143.197 110.298C144.259 109.446 145.031 108.285 145.407 106.977C145.885 105.384 146.15 103.734 146.194 102.072C146.397 98.4909 146.194 94.8712 146.619 91.3217C147.472 84.9776 147.592 78.556 146.975 72.1842C146.631 69.3935 145.529 66.7517 143.788 64.5433C142.512 62.8256 140.835 62.2709 138.789 62.4291C135.07 62.7166 131.827 65.5939 130.76 69.9678C129.775 73.9924 129.004 78.0722 128.253 82.1488C127.509 86.1813 125.245 89.037 121.856 91.1937C119.198 92.8943 116.152 93.8926 113.003 94.0967C105.95 94.5982 98.8998 95.33 91.8389 95.4527C78.1471 95.691 64.445 95.752 50.7519 95.5046C46.2126 95.4232 41.6767 94.2674 37.1722 93.4246C32.8154 92.6088 30.796 89.4866 30.2046 85.3976C29.7891 82.5229 29.703 79.5976 29.5271 76.6913C29.2389 71.9348 28.5741 67.3135 25.4972 63.396C22.8568 60.0349 19.5194 59.0877 15.6634 60.8585C12.914 62.1219 10.6522 64.0284 10.0655 67.1534C9.40434 70.0945 9.0507 73.0972 9.01014 76.1118C9.14732 81.8219 9.68151 87.5281 10.1547 93.2277C10.4796 97.1375 11.0355 101.028 11.3854 104.937C11.6735 108.154 13.2946 110.1 16.4516 110.77C17.0991 110.948 17.7566 111.087 18.4206 111.186C26.3512 111.891 34.2745 112.988 42.2181 113.169C56.4666 113.492 70.7298 113.26 84.9868 113.26ZM120.964 75.544C119.296 75.2401 117.613 75.0236 115.922 74.8949C93.5795 74.6245 71.266 75.3104 48.9811 76.9525C46.1293 77.1599 43.2874 78.088 40.5419 78.9872C38.569 79.6343 38.7042 81.4813 38.8256 83.2534C38.947 85.0255 40.0325 85.5348 41.4633 85.7015C45.1335 86.1288 48.8011 86.711 52.4851 86.8619C73.0283 87.7033 93.5303 86.117 114.049 85.5158C116.511 85.4436 118.513 84.3718 119.419 82.1284C120.189 80.225 120.394 78.0906 120.964 75.544Z"
							fill="black"></path>
					</g>
					<defs
						><clippath id="clip0_8_2898"
							><rect width="156.865" height="143.082" fill="white" transform="translate(0.809204 0.830078)"
							></rect></clippath
						></defs
					>
				</svg>
				<p class="text-lg text-gray-500">Office Hours</p>
				<p class="text-lg text-gray-500">9am - 5pm</p>
			</div>
			<div class="w-full md:w-1/3 px-4 text-center p-4">
				<svg
					width="178"
					height="144"
					viewBox="0 0 158 144"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="mb-6 mx-auto text-indigo-500 w-20 h-14">
					<g clip-path="url(#clip0_8_2462)">
						<path
							d="M176.582 68.1415C176.193 60.8736 175.883 53.4759 175.581 46.3229C175.288 39.3568 174.985 32.1533 174.609 25.0713C174.065 14.7867 168.774 7.29417 159.308 3.40359C155.965 2.0307 151.852 1.30472 146.741 1.18222C133.204 0.860342 119.439 0.711559 106.126 0.56691C101.387 0.515217 96.649 0.46112 91.9115 0.40465C91.7922 0.305737 91.6424 0.251378 91.4875 0.251299H80.4525C71.4852 0.251299 62.5185 0.253954 53.5531 0.258298C51.9122 0.258298 50.266 0.254587 48.6257 0.250025C43.6943 0.233084 38.5944 0.219024 33.5787 0.401468C26.7308 0.649721 21.4578 1.98858 16.9854 4.61576C7.92797 9.93791 3.09649 17.5349 2.62514 27.1972C2.37682 32.2854 2.29317 37.4607 2.21277 42.4661L2.16026 45.6C2.08765 49.801 2.01178 54.001 1.93268 58.2003C1.67788 72.0374 1.414 86.3455 1.30962 100.423C1.26747 106.027 1.55015 112.656 3.96137 119.34C7.52729 129.227 14.1048 135.618 24.07 138.88C33.3414 141.843 43.0098 143.363 52.7388 143.384C76.9223 143.698 102.288 143.846 132.141 143.846H137.94C143.426 143.94 148.903 143.344 154.242 142.073C166.482 138.926 173.735 131.387 175.801 119.662C176.458 115.685 176.914 111.676 177.168 107.652C178.062 95.4416 177.391 83.0674 176.742 71.0991L176.582 68.1415ZM63.4885 132.736C53.0131 132.704 41.8199 132.306 30.9451 129.625C26.5694 128.547 23.4398 127.284 20.9391 125.576L74.9078 75.696L76.4146 77.325C77.9162 78.9494 79.4664 80.6259 81.0322 82.2874C85.5641 87.0981 90.0105 87.4923 95.0223 83.5293C97.073 81.9089 99.0213 80.0753 100.905 78.3082C101.619 77.6371 102.34 76.9614 103.071 76.2889L155.893 129.871C154.067 131.379 151.86 131.695 149.535 132.028L148.867 132.124C146.37 132.458 143.852 132.613 141.332 132.587L126.557 132.641C105.884 132.718 84.5106 132.799 63.4885 132.736ZM145.959 21.38C138.055 28.5507 129.883 35.9648 122.091 43.5212C114.315 51.0613 106.691 58.9635 99.317 66.6077C96.2652 69.7718 93.1142 73.0388 90.0027 76.2264L24.3676 11.5338C24.8374 11.4082 25.3036 11.2814 25.7661 11.1532C27.5555 10.6639 29.2458 10.2004 30.9723 9.85959C39.5572 8.16547 48.3961 8.39587 56.9447 8.62197C58.8541 8.67149 60.7628 8.72049 62.6709 8.75176C65.5742 8.79737 68.5293 8.89466 71.386 8.98914C73.8672 9.07058 76.4327 9.15529 78.9594 9.20546C86.0647 9.34666 93.1699 9.48219 100.276 9.61211C115.635 9.90011 131.517 10.1989 147.134 10.5755C149.33 10.6973 151.513 11.0061 153.657 11.4988C154.499 11.6675 155.373 11.8407 156.24 11.9919V12.0135C152.824 15.1509 149.335 18.3175 145.957 21.3826L145.959 21.38ZM35.4148 100.077C28.8321 106.367 22.0329 112.866 15.4579 119.507C12.7271 113.032 11.3117 107.718 10.8903 102.389C9.72326 87.6069 10.2082 72.8929 10.8086 59.0891C11.0829 52.7942 11.1924 46.3916 11.2988 40.1996C11.3714 35.9904 11.4466 31.6377 11.5724 27.3633C11.702 22.8296 13.2107 19.6483 16.5848 16.8367L67.8693 67.4697C57.429 79.036 46.2384 89.7318 35.411 100.082L35.4148 100.077ZM164.703 118.401C164.463 119.7 164.142 120.982 163.742 122.24C163.598 122.728 163.454 123.217 163.318 123.706L163.112 123.775L108.749 70.5361C127.542 51.0534 145.364 34.4378 163.19 19.7771C163.266 20.1218 163.344 20.4573 163.421 20.7844C163.738 21.9717 163.949 23.1849 164.051 24.4102C164.652 36.7407 165.142 48.9096 165.502 58.1347C165.84 66.7915 166.128 75.3324 166.358 83.5222C166.647 93.8921 166.679 106.148 164.699 118.404L164.703 118.401Z"
							fill="black"></path>
					</g>
					<defs
						><clippath id="clip0_8_2462"
							><rect width="177" height="144" fill="white" transform="translate(0.777344)"></rect></clippath
						></defs
					>
				</svg>
				<p class="text-lg text-gray-500">camille@cliftoncreative.dev</p>
			</div>
			<div class="w-full md:w-1/3 px-4 text-center p-4">
				<svg
					width="102"
					height="167"
					viewBox="0 0 158 167"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="mb-6 mx-auto text-indigo-500 w-14 h-14">
					<g clip-path="url(#clip0_8_2553)">
						<path
							d="M101.184 92.9296C101.184 108.655 101.212 124.381 101.161 140.107C101.174 143.339 100.986 146.568 100.599 149.777C100.406 151.699 99.7912 153.554 98.7994 155.211C95.8859 159.626 91.4186 163.185 86.0669 164.303C81.7627 165.283 77.3796 165.876 72.9693 166.075C58.0967 166.456 43.216 166.566 28.3373 166.67C25.3319 166.691 22.3194 166.261 19.3153 165.982C10.9394 165.205 6.56723 159.737 4.25589 152.43C3.1028 148.783 2.88592 144.824 2.40423 140.986C0.720897 127.58 1.08735 114.11 1.25828 100.647C1.39855 89.554 1.51594 78.4608 1.61046 67.3676C1.70369 54.6576 1.60464 41.9441 1.87333 29.2385C1.97022 24.9402 2.53929 20.6656 3.57026 16.4916C5.47696 8.77915 10.8507 4.81055 18.5817 3.25318C36.5345 -0.362565 54.6122 0.123124 72.7232 1.0727C79.1328 1.40864 84.8769 3.69786 90.2202 7.16411C93.998 9.5781 96.7774 13.2737 98.0477 17.5719C99.0778 21.0794 99.7122 24.6912 99.9388 28.3396C100.544 39.8437 100.972 51.3567 101.224 62.8788C101.429 72.8916 101.267 82.9122 101.267 92.9296H101.184ZM12.5826 132.038C38.9965 129.705 65.5225 128.889 92.0298 129.594C92.1068 128.244 92.213 127.191 92.2195 126.137C92.3839 100.613 91.8957 74.4418 92.033 48.9153C92.044 47.6254 91.9579 46.3364 91.774 45.0595C90.9117 39.2086 90.7129 34.0013 89.7171 28.1731C89.2607 25.6451 88.6398 23.1495 87.8583 20.7021C87.4576 19.4148 86.7739 18.2334 85.8578 17.2441C84.9416 16.2548 83.8158 15.4825 82.5623 14.984C78.936 13.3043 75.0009 12.3923 71.0049 12.3051C66.8005 12.228 62.5886 12.2784 58.3926 12.0829C45.7294 11.4926 33.2073 12.6188 20.7299 14.7277C16.7579 15.3989 14.5877 17.5524 13.748 21.2814C13.4089 22.7497 13.1924 24.2435 13.1005 25.7476C12.9471 28.542 12.8921 31.3436 12.8726 34.1425C12.7103 57.8332 12.5567 81.5257 12.4117 105.219C12.3663 112.111 12.2673 119.002 12.2498 125.894C12.2492 127.798 12.4512 129.703 12.5826 132.038ZM91.5837 137.029L12.949 137.956C13.4625 142.876 13.2235 147.412 14.6201 151.727C15.6929 155.041 17.9913 157.155 21.7367 157.218C23.1371 157.242 24.5355 157.353 25.9353 157.359C30.4615 157.375 34.9871 157.366 39.5133 157.359C51.6903 157.341 63.8686 157.41 76.0426 157.24C79.2649 157.173 82.4671 156.717 85.5794 155.88C88.4475 155.124 91.1564 153.314 91.4794 150.139C91.9016 146.004 91.5837 141.795 91.5837 137.03V137.029Z"
							fill="black"></path>
						<path
							d="M59.2337 146.565C59.224 150.018 55.9538 153.02 52.1229 153.092C51.2861 153.114 50.4536 152.967 49.6754 152.658C48.8972 152.35 48.1894 151.888 47.5946 151.299C46.9998 150.71 46.5303 150.007 46.2143 149.232C45.8984 148.457 45.7425 147.626 45.7561 146.789C45.8134 144.997 46.5481 143.292 47.8124 142.02C49.0766 140.747 50.7764 140.001 52.569 139.932C55.9299 139.889 59.2415 143.187 59.2337 146.565Z"
							fill="black"></path>
					</g>
					<defs
						><clippath id="clip0_8_2553"
							><rect width="101" height="167" fill="white" transform="translate(0.777344)"></rect></clippath
						></defs
					>
				</svg>
				<p class="text-lg text-gray-500">(702) 767-2938</p>
			</div>
		</div>
	</div>
	<div class="h-96 bg-gradient-1" data-bg-animate="on"></div>
	<div class="container px-4 mx-auto">
		<div class="max-w-3xl -mt-40 mx-auto p-6 lg:p-12 bg-white rounded-lg shadow text-center ccLightBg">
			<h2
				class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-headings">
				Get in touch!
			</h2>
			<!-- form here -->
			<Form />
		</div>
	</div>
</section>

<style>
	.bg-gradient-1 {
		background-repeat: no-repeat;
		background-position: center;
	}
	@media (prefers-reduced-motion: no-preference) {
		.bg-gradient-1[data-bg-animate="on"] {
			will-change: background-position;
		}
	}
	.bg-gradient-1 {
		background-color: #e7e3df;
		background-image:
			radial-gradient(ellipse at 90% 30%, #7f8052 20%, rgba(14, 19, 31, 0) 50%),
			radial-gradient(ellipse at 70% 0%, #5b78a2 0%, rgba(255, 0, 53, 0) 50%),
			radial-gradient(ellipse at 20% 10%, #866b96 10%, rgba(56, 64, 95, 0) 70%),
			radial-gradient(ellipse at 50% 100%, #dca464 0%, rgba(255, 0, 53, 0) 50%);
		background-size: 200% 100%;
	}
	@media (prefers-reduced-motion: no-preference) {
		.bg-gradient-1[data-bg-animate="on"] {
			background-size: 400% 200%;
			background-position: 0% 0%;
			animation: bg-gradient-anim-1 30s linear infinite;
		}
	}

	@keyframes bg-gradient-anim-1 {
		0%,
		100% {
			background-position: 0% 0%;
		}
		25% {
			background-position: 100% 100%;
		}
		50% {
			background-position: 100% 0%;
		}
		75% {
			background-position: 0% 100%;
		}
	}
</style>
