---

---

<section class="py-36" id="FAQ">
	<div class="container px-4 mx-auto">
		<h2
			class="mb-16 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-headings text-center">
			Frequently Asked Questions
		</h2>
		<div class="max-w-4xl mx-auto">
			<ul class="space-y-4">
				<li class="px-6 py-8 rounded-lg border border-ccYellow" x-data="{ accordion: false }">
					<button
						class="group w-full flex justify-between items-center text-left font-bold font-heading"
						x-on:click="accordion = !accordion">
						<span class="text-lg font-bold font-heading group-hover:text-ccYellow">How much do your services cost?</span
						>
						<span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class="inline-block transform rotate-0">
							<svg
								class="flex-shrink-0 w-4 h-4 ml-2 text-ccYellow"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</span>
					</button>
					<div
						x-ref="container"
						:style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
						class="overflow-hidden h-0 duration-500"
						style="">
						<p class="max-w-2xl mt-6 text-lg text-gray-500 leading-loose">
							I believe in clear, honest pricing. My websites start at <b>$800</b>, which includes the full custom
							design and build. You pay once — no hidden costs, no monthly subscriptions. And if you need extra services
							like logo design or copywriting, I can add that on.
						</p>
					</div>
				</li>
				<li class="px-6 py-8 rounded-lg border border-ccGreen" x-data="{ accordion: false }">
					<button
						class="group w-full flex justify-between items-center text-left font-bold font-heading"
						x-on:click="accordion = !accordion">
						<span class="text-lg font-bold font-heading group-hover:text-ccGreen">What's the process like?</span>
						<span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class="inline-block transform rotate-0">
							<svg
								class="flex-shrink-0 w-4 h-4 ml-2 text-ccGreen"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</span>
					</button>
					<div
						x-ref="container"
						:style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
						class="overflow-hidden h-0 duration-500"
						style="">
						<dl class="max-w-2xl mt-6 text-lg text-gray-500 leading-loose">
							<dt class="text-ccGreen font-bold capitalize">Tell Me What You Need</dt>
							<dd class="text-md">-We’ll chat about your business, what you want from your site, and your goals.</dd>
							<dt class="text-ccGreen font-bold capitalize">I build your site</dt>
							<dd class="text-md">
								— I’ll design and develop a custom site tailored to your needs. You’ll be able to review it and make any
								changes you like.
							</dd>
							<dt class="text-ccGreen font-bold capitalize">Launch</dt>
							<dd class="text-md">
								— Once you’re happy with the site, we’ll launch it on a secure, fast platform with no ongoing fees.
							</dd>
							<dt class="text-ccGreen font-bold capitalize">Ownership</dt>
							<dd class="text-md">— I’ll hand over all your site files, so it’s yours to keep and manage.</dd>
						</dl>
						<p class="mt-6 text-lg text-gray-500 max-w-2xl">
							Throughout the process, I'll be with you every step of the way to make sure you feel confident and
							comfortable.
						</p>
					</div>
				</li>
				<li class="px-6 py-8 rounded-lg border border-ccPurple" x-data="{ accordion: false }">
					<button
						class="group w-full flex justify-between items-center text-left font-bold font-heading"
						x-on:click="accordion = !accordion">
						<span class="text-lg font-bold font-heading group-hover:text-ccPurple"
							>How does building a website with you save money?</span
						>
						<span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class="inline-block transform rotate-0">
							<svg
								class="flex-shrink-0 w-4 h-4 ml-2 text-ccPurple"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</span>
					</button>
					<div
						x-ref="container"
						:style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
						class="overflow-hidden h-0 duration-500"
						style="">
						<p class="mt-6 text-lg text-gray-500 max-w-2xl">I save you money a couple of different ways:</p>
						<dl class="max-w-2xl mt-4 text-lg text-gray-500 leading-loose">
							<dt class="text-ccPurple font-bold capitalize">Little To No Subscriptions</dt>
							<dd class="text-md">
								-Unlike platforms like Wix or Squarespace, which charge monthly fees, your website is built on a modern,
								secure platform with zero ongoing costs.
							</dd>
							<dt class="text-ccPurple font-bold capitalize">Full Ownership</dt>
							<dd class="text-md">
								— You own your website and all its files, meaning you're not tied to any platform or service. If you
								want to update something later, you can do it yourself. No need to keep paying a company for simple
								updates.
							</dd>
							<dt class="text-ccPurple font-bold capitalize">One-time Cost, Lasting Value</dt>
							<dd class="text-md">
								— You pay once for your website. Plus, because I build with Astro ( a super fast framework), the sites
								are lightweight, SEO friendly, and future-proof, which saves you from needing constant redesigns or
								updates.
							</dd>
						</dl>
					</div>
				</li>
				<li class="px-6 py-8 rounded-lg border border-ccRed" x-data="{ accordion: false }">
					<button class="group w-full flex justify-between items-center text-left" x-on:click="accordion = !accordion">
						<span class="text-lg font-bold font-heading group-hover:text-ccRed"
							>What other services do you provide?</span
						>
						<span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class="inline-block transform rotate-180">
							<svg
								class="flex-shrink-0 w-4 h-4 ml-2 text-ccRed"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</span>
					</button>
					<div
						x-ref="container"
						:style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
						class="overflow-hidden h-0 duration-500"
						style="height: 456px">
						<dl class="max-w-2xl mt-6 leading-loose">
							<dt class="text-ccRed font-bold">Logo and Branding</dt><dd class="text-gray-500 text-md">
								<b>From $150</b>
								- Get a custom logo and cohesive branding that fits your business vibe.
							</dd><dt class="text-ccRed font-bold">Copywriting &amp; Content Help</dt><dd
								class="text-gray-500 text-md">
								<b>From $100</b>
								- Don’t know what to say? I’ll write it with clarity, confidence, and a bit of style. (Does not include images).
							</dd><dt class="text-ccRed font-bold">API Integration</dt><dd class="text-gray-500 text-md">
								<b>From $100</b>
								- I can hook you up with tools like Calendly, Google Sheets, AirTable for awesome automation.
							</dd><dt class="text-ccRed font-bold">Extra Pages</dt><dd class="text-gray-500 text-md">
								<b>From $200</b>
								- Need an extra page? No problem! I can add it to your site and make sure it fits with the rest of your design.
							</dd>
						</dl>
					</div>
				</li>
				<li class="px-6 py-8 rounded-lg border border-ccBlue" x-data="{ accordion: false }">
					<button class="group w-full flex justify-between items-center text-left" x-on:click="accordion = !accordion">
						<span class="text-lg font-bold font-heading group-hover:text-ccBlue"
							>What do you use to build websites?</span
						>
						<span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class="inline-block transform rotate-0">
							<svg
								class="flex-shrink-0 w-4 h-4 ml-2 text-ccBlue"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</span>
					</button>
					<div
						x-ref="container"
						:style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
						class="overflow-hidden h-0 duration-500"
						style="">
						<p class="max-w-2xl mt-2 text-lg text-gray-500 leading-loose">
							I use JAMstack tools like Astro (super fast), Tailwind CSS (for slick styling), and Netlify (for free
							hosting). You don’t have to worry about any of that — I handle the tech so you don’t have to.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
