---
import { Icon } from "astro-icon/components"
---

<footer class="py-20 bg-ccYellow">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap items-center justify-between">
			<div class="w-full lg:w-1/5 mb-6 lg:mb-0">
				<a class="text-gray-600 text-2xl leading-none" href="#home">
					<Icon name="Dark" class="h-24 w-auto" />
				</a>
				<p class="w-full lg:w-auto lg:mt-0 order-last lg:order-first text-sm text-ccDark">
					All rights reserved. © Clifton Creative.
				</p>
			</div>
			<div class="w-full lg:w-auto">
				<div class="order-first lg:order-last">
					<!--
					<a class="inline-block mr-8" href="#"> <img src="plain-assets/socials/facebook.svg" alt="" /> </a>
					<a class="inline-block mr-8" href="#"> <img src="plain-assets/socials/twitter.svg" alt="" /> </a>
					<a class="inline-block mr-8" href="#"> <img src="plain-assets/socials/github.svg" alt="" /> </a>
					<a class="inline-block mr-8" href="#"> <img src="plain-assets/socials/instagram.svg" alt="" /> </a>
					<a class="inline-block" href="#"> <img src="plain-assets/socials/linkedin.svg" alt="" /> </a>-->
				</div>
			</div>
		</div>
	</div>
</footer>
