---
import { Icon } from "astro-icon/components"
---

<footer class="py-4 bg-ccGreen">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap items-center justify-between">
			<div class="w-full lg:w-1/5 mb-6 lg:mb-0">
				<a class="text-gray-600 text-2xl leading-none" href="#home">
					<Icon name="Dark" class="h-24 w-auto" />
				</a>
			</div>
			<div class="w-full lg:w-auto">
				<div class="order-first lg:order-last">
					<a class="inline-block mr-8" href="#"><Icon name="facebook" class="h-6 w-auto" /></a>
					<a class="inline-block mr-8" href="#"><Icon name="instagram" class="h-6 w-auto" /></a>
					<a class="inline-block" href="#"><Icon name="linkedin" class="h-6 w-auto" /></a>
				</div>
			</div>
		</div>
	</div>
</footer>
