---

---

<section class="relative z-[1]" id="portfolio">
	<div class="sticky z-[1] top-0">
		<div class="mx-auto max-w-3xl h-screen flex justify-center items-center">
			<h2 class="text-5xl lg:text-9xl font-headings">Recent Work</h2>
		</div>
	</div>
</section>
