---
//imports
import BaseHead from "./BaseHead.astro";
import Nav from "@/components/Nav.astro";
---

<html lang="en">
	<BaseHead />
	<body class="bg-light">
		<Nav />
		<main>
			<slot />
		</main>
		<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</body>
</html>
