---

---

<form>
	<fieldset class="mb-5 lg:mb-8">
		<legend class="mb-8 text-contrast-higher text-lg font-subheading font-bold">Contact Form</legend>

		<div class="mb-2 lg:mb-3">
			<div class="grid grid-cols-12 gap-2 lg:gap-3">
				<div class="col-span-12 lg:col-span-6">
					<label class="text-sm mb-1.5 lg:mb-2 font-body hidden" for="userName">Name</label>
					<input
						class="font-body appearance-none border-b-2 bg-light border-dark py-2 px-3 text-[1em] leading-tight transition duration-200 outline-none placeholder:text-gray-500 focus-within:border-secondary w-full"
						type="text"
						name="userName"
						id="userName"
						placeholder="Full Name"
						required
					/>
				</div>

				<div class="col-span-12 lg:col-span-6">
					<label class="text-sm mb-1.5 lg:mb-2 font-body hidden" for="email">Email</label>
					<input
						class="font-body appearance-none border-b-2 bg-light border-dark py-2 px-3 text-[1em] leading-tight transition duration-200 outline-none placeholder:text-gray-500 focus-within:border-secondary w-full"
						type="email"
						name="email"
						id="userEmail"
						placeholder="Email Address"
						required
					/>
				</div>
			</div>
		</div>

		<div class="pt-4">
			<label class="inline-block text-sm mb-1.5 lg:mb-2 font-subheading" for="textarea"
				>Tell Me About Your Project</label
			>
			<textarea
				class="appearance-none bg-light border-2 border-dark py-2 px-3 text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full"
				name="textarea"
				id="textarea"></textarea>
			<p class="text-xs text-gray-500 mt-1.5 lg:mt-2">Use helper text to provide additional information.</p>
		</div>
	</fieldset>

	<fieldset class="mb-5 lg:mb-8">
		<legend class="mb-3 text-contrast-higher text-lg font-subheading font-bold">What Does Your Project Need?</legend>

		<div class="flex flex-wrap gap-5 lg:gap-8">
			<div>
				<input class="checkbox" type="checkbox" id="checkbox1" />
				<label for="checkbox1">A Website</label>
			</div>

			<div>
				<input class="checkbox" type="checkbox" id="checkbox2" />
				<label for="checkbox2">A Design</label>
			</div>

			<div>
				<input class="checkbox" type="checkbox" id="checkbox3" />
				<label for="checkbox2">Brand Building</label>
			</div>
		</div>
	</fieldset>

	<div class="text-left pt-3 lg:pt-5 border-t border-gray-300"></div>
</form>
